body {
    background-color: black;
    line-height: 1.5em;
    font-family:Georgia, 'Times New Roman', Times, serif;    
}

header {
    height: 2em;
    padding: 2em;
    background:linear-gradient(90deg, rgba(253, 46, 0, 0.539) 26%, rgba(223, 0, 123, 0.521) 60%);
}

h1 {
    margin-top: .1em;
    margin-left: 1em;
    font-family: cursive;
    font-size: 4em;
    color:rgba(255, 255, 255, 0.742);
    text-shadow: rgba(223,0,124,1) .03em .03em .03em;
}

nav {
    
    font-size: 1em;
    float: right;
    margin-right: 3em;
}

nav p {
    color:rgba(255, 255, 255, 0.766);
}

a {
    color:rgba(255, 255, 255, 0.696);
    text-decoration: none;
}

a:hover {
    color: white;
    font-size:1.5em;
}

main {
    margin:4em;
    padding-left: 4em;
    padding-right: 4em;
}

h2 {
    color:rgba(223, 0, 123, 0.521);
    font-size:1.5em;
    font-family: cursive;
    margin-bottom: .5em;
}

p {
    color: rgb(201, 193, 193);
    font-size:1em;
    font-weight: lighter;
}

ul {
    list-style: inside;
    color: rgb(201, 193, 193);
    font-size:1em;
    font-weight: lighter;
}

ol {
    list-style: decimal inside;
    color: rgb(201, 193, 193);
    font-size:1em;
    font-weight: lighter;

}

section {
    margin-bottom: 1.5em;
}

footer {
    background:linear-gradient(90deg, rgba(253, 46, 0, 0.539) 26%, rgba(223, 0, 123, 0.521) 60%);
    bottom: 0;
    height: 2.5em;   
    text-align: center;
    font-size: 1em;
    padding-top:1em;
}

footer p {
    color:rgba(255, 255, 255, 0.696);
}
